In [1]:
import pandas as pd

In [10]:
a =pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
a.ndim

1

In [12]:
a.axes

[RangeIndex(start=0, stop=5, step=1)]

In [13]:
a.size

5

In [14]:
#index isimlendirilmesi
b=pd.Series([99,33,22,355],index=["a","b","c","d"])
b

a     99
b     33
c     22
d    355
dtype: int64

In [15]:
sözlük = pd.Series({"reg":100,"log":11,"cart":12})
sözlük

reg     100
log      11
cart     12
dtype: int64

In [16]:
#iki seriyi birleştirme
pd.concat([a,b])

0      1
1      2
2      3
3      4
4      5
a     99
b     33
c     22
d    355
dtype: int64

In [17]:
seri = pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
seri.values #değerlere ulaşmamız sağlar

array([1, 2, 3, 4, 5], dtype=int64)

In [18]:
seri["b"]

2

In [19]:
seri["a":"d"]

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
import numpy as np 
a =np.arange(1,10).reshape((3,3))
df=pd.DataFrame(a,columns=["var1","var2","var3"])
df

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [24]:
df.columns=("deg1","deg2","deg3")

In [25]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [21]:
df.shape

(3, 3)

In [22]:
df.size

9

In [29]:
df.ndim

2

In [35]:
df.tail(1)

   var1  var2  var3
2     7     8     9

In [50]:
s1 =np.random.randint(10,size=5)
s2 =np.random.randint(10,size=5)
s3 =np.random.randint(10,size=5)
sozluk={"var1":s1 , "var2":s2, "var3":s3} 
a = pd.DataFrame(sozluk)
a.index=["row1","row2","row3","row4","row5"]
a

      var1  var2  var3
row1     9     8     5
row2     8     8     2
row3     0     2     1
row4     2     5     7
row5     1     0     4

In [53]:
a.drop("row1",axis=0,inplace=True)

KeyError: "['row1'] not found in axis"

In [55]:
l = ["var1","var2","var","var4"]
for i in l:
    print(i in a)

True
True
False
False

In [60]:
a["var4"] = a["var1"]/a["var3"]

In [58]:
a

      var1  var2  var3      var4
row2     8     8     2  4.000000
row3     0     2     1  0.000000
row4     2     5     7  0.285714
row5     1     0     4  0.250000

In [6]:
import numpy as np

In [9]:
c = np.array([1,2,3,4,5,6])
f=pd.Series(c,index=('a','b','c','d','E','f'))
f

a    1
b    2
c    3
d    4
E    5
f    6
dtype: int32