In [11]:
text = "The goal is to turn data into information, and information into insight."

In [17]:
liste1=[]
liste1.append(text.upper().replace(","," ").replace("."," ").split())
liste1

[['THE',
  'GOAL',
  'IS',
  'TO',
  'TURN',
  'DATA',
  'INTO',
  'INFORMATION',
  'AND',
  'INFORMATION',
  'INTO',
  'INSIGHT']]

In [24]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]
len(lst)
lst[0]
lst[10]
new_list=[]
new_list.append(lst[0:4])
lst.pop(8)
lst.append("C")
lst.insert(8,"N")

In [22]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [23]:
new_list

[['D', 'A', 'T', 'A']]

In [31]:
dict1={'Christian':["America",18],
       'Daisy':["England",12],
       'Antonio':["Spain",22],
       'Dante':["Italy",25]}

In [32]:
dict1.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [33]:
dict1.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [34]:
dict1["Daisy"][1]=13

In [35]:
dict1

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [39]:
dict1.update({'Ahmet':["Turkey",24]})
dict1

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [41]:
dict1.pop('Antonio')

['Spain', 22]

In [42]:
dict1

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [45]:
def fonk(liste):
    
    for i in liste:
        if i %2 ==0:
            odd_list.append(i)
        else:
            even_list.append(i)
    return even_list,odd_list

even_list=[]
odd_list=[]
l=[2,13,18,93,22]
even_list,odd_list=fonk(l)

In [49]:
ogrenciler=["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
for i,ogrenci in enumerate(ogrenciler,1):
    if i < 4 :
        print(f"Muhendislik fakültesi:{i}. öğrengci:{ogrenci}")
    else:
        print(f"Tıp Fakültesi{i-3}. öğrenci:{ogrenci}")

Muhendislik fakültesi:1. öğrengci:Ali
Muhendislik fakültesi:2. öğrengci:Veli
Muhendislik fakültesi:3. öğrengci:Ayşe
Tıp Fakültesi1. öğrenci:Talat
Tıp Fakültesi2. öğrenci:Zeynep
Tıp Fakültesi3. öğrenci:Ece

In [57]:
ders_kodu=["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi=[3,4,2,4]
kontenjan=[30,75,150,25]
for i in list(zip(kredi,ders_kodu,kontenjan)):
    print(f"Kredisi {i[0]} olan {i[1]} kodlu dersin kontenjanı {i[2]} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [59]:
küme1 = set(["data","python"])
küme2 = set(["data","function","qcut","lambda","python","miuul"])
küme1.symmetric_difference(küme2)

{'function', 'lambda', 'miuul', 'qcut'}